<div class="logo-container">
    <a href="{{ url_for('nemo.r_index') }}"><img class="logo" src="{{url_for('nemo.static', filename='images/nemo.png')}} " alt="Capitains Nemo" /></a>
</div>
<b>Text provided by CIHAM, propulsed by Capitains</b>
<header>
    <span class="content">Collection</span>
</header>
<ul class="menu">
    <li><a class="{{"froLit"|active_link}}" href="{{url_for('nemo.r_collection', collection="froLit")}}">{{"froLit"|collection_i18n}}</a></li>
</ul>
{% if textgroups %}
<header>
    <span class="content">Authors
        <div class="icon">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
    </span>
    <div class="search">
        <input type="text" placeholder="Search an author" />
        <span class="icon"><span class="glyphicon glyphicon-search"></span></span>
    </div>
</header>
<ul class="menu">
    {% for textgroup in textgroups %}
        <li><a class="{{textgroup.urn[3]|active_link}}" href="{{url_for('nemo.r_texts', collection=textgroup.urn[2], textgroup=textgroup.urn[3])}}">{{textgroup.metadata['groupname'][lang]}}</a></li>
    {% endfor %}
</ul>
{% endif %}