<div class="logo-container">
    <img class="logo" src="{{url_for('static', filename='images/nemo.png')}} " alt="Capitains Nemo" />
</div>
<header>
    <span class="content">Collection
</header>
<ul class="menu">
    {% for collection in collections %}
        <li><a class="{{collection|active_link}}" href="">{{collection|collection_i18n}}</a></li>
    {% endfor %}
</ul>
<header>
    <span class="content">Authors
        <div class="icon">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
    </span>
    <div class="search">
        <input type="text" placeholder="Search an author" />
        <span class="icon"><span class="glyphicon glyphicon-search"></span></span>
    </div>
</header>
<ul class="menu">
    <li><a class="active">Cicero</a></li>
    <li><a>Antiphon</a></li>
    <li><a>Aristophanes</a></li>
    <li><a>Aristotle</a></li>
    <li><a>Athenaeus</a></li>
    <li><a>Augustus Emperor of Rome 63 B.C.-14 A.D.</a></li>
    <li><a>Diodorus Siculus</a></li>
    <li><a>Euclid</a></li>
    <li><a>Euripides</a></li>
    <li><a>Herodotus</a></li>
    <li><a>Hesiod</a></li>
    <li><a>Homeric Hymns</a></li>
    <li><a>Homeric Poems</a></li>
    <li><a>Lucan</a></li>
</ul>

<header>
    <span class="content">Texts</span>
</header>
<ul class="menu ">
    <li><a class="active">Against Catiline</a></li>
    <li><a>Oratore</a></li>
    <li><a>De oratore</a></li>
</ul>